# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Envs
.env
.venv/
venv/

# Data
data/*
!data/raw/
!data/processed/
*.parquet
*.csv

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VSCode / IDE
.vscode/
.idea/

# Docker
*.log
*.pid

# OS
.DS_Store
Thumbs.db
